/**
This is the "source" for our styles. To build the dist (referenced by the main
site), run `npm install` and `npm run build` from the repo root.
*/
@tailwind base;
@tailwind components;
/* custom components */

.input-field {
    border: 1px solid grey;
    width: 100%;
}

.button {
    padding: 1% 0px;
    margin: 4px 0px;
}

.key_item {
    background-color: lightgrey;
    border-radius: 25px;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* end: custom components */
@tailwind utilities;